﻿@model S00132821_API_V1.Models.Companies

@{
    ViewBag.Title = "About";
}


<div class="container" id="main">
    <div class="row">
        <div class="jumbotron">
            <h1 class="text-center"><i class="glyphicon glyphicon-lock"></i> About InstaLok</h1>
            <hr />
            <p class="text-center">InstaLok is a multi-national security firm in security software.</p>
            <br />
            <p class="text-center">We work with open-source software to bring the latest security to your devices.</p>
            <br />
            <p class="text-center">Please see below two videos of a brief explanation of Prey, one of the anti-theft collaborations we are working with.</p>
        </div>
    </div>
</div>
<div class="jumbotron">
    @*<button class="btn-info" onclick="BootstrapDialog.show({
    title: 'Video 1',
    message: '',
    buttons: [{
        id: 'btn-ok',
        icon: 'glyphicon glyphicon-check',
        label: 'OK',
        cssClass: 'btn-primary',
        autospin: false,
        action: function (dialogRef) {
            dialogRef.close();
        }
    }]
});">About Prey</button>*@
    <h3 class="text-center glyphicon glyphicon-facetime-video">About Prey</h3>
    <iframe title="YouTube video" width="480" height="390" src="https://www.youtube.com/watch?v=DX7YONkQZx8" frameborder="0"></iframe>
    <hr />
    <h3 class="text-center glyphicon glyphicon-facetime-video">Lock Feature</h3>
    <iframe title="YouTube video" width="480" height="390" src="https://www.youtube.com/watch?v=LxH2N4vvfp4" frameborder="0"></iframe>
</div>

