﻿@model IEnumerable<S00132821_API_V1.Models.Companies>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var gmarkers = [];
        var map;

        function initialize() {

            var mapProp = {
                center: new google.maps.LatLng(20.593684, 78.96288), //India Lat and Lon
                zoom: 2,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
        }

        google.maps.event.addDomListener(window, 'load', initialize);



        $("#txtSearch").keyup(function () {
            var x = $("#txtSearch").val();

            for (i = 0; i < gmarkers.length; i++) {
                gmarkers[i].setMap(null);
            }


                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Search", "Map")', //"../Map/Search"
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({ "Company": x }),
                    dataType: "json",
                    success: function (data) {
                        var table = "<table class='table'>";
                        $.each(data, function (index, value) {
                            table += "<tr><td>" + value.CompanyName + "</td></tr>";
                            var latlng = new google.maps.LatLng(value.Latitude, value.Longitude);
                            var marker = new google.maps.Marker({
                                position: latlng,
                                icon: "../bluepointer.png",
                                map: map
                            });

                            gmarkers.push(marker);

                        });
                        table += "</table>";
                        $("#myData").html(table);

                        if (x == "") {
                            for (j = 0; j < gmarkers.length; j++) {
                                gmarkers[j].setMap(null);
                            }
                        }
                    }
                });
        });
    });
</script>
<table>
    <tr>
        <td valign="top">
            @Html.TextBox("txtSearch", null, new { @placeholder = "Search A Company" })
            <div id="myData">
                <table class="table">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.CompanyName
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </td>
        <td valign="top">
            <div id="googleMap" style="width:1000px;height:600px;"></div>
        </td>
    </tr>
</table>

