﻿<body class="text-center">
    <div class="jumbotron">
        <h1 class="text-center glyphicon glyphicon-lock" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">INSTALOK WEBSITE</h1>
        <p class="lead, text-center">Please use the top bar to navigate to the different pages.</p>
    </div>
    <div class="row">
    @*<div class="col-md-4">*@
        <h2 class="text-center">WEB API</h2>
        <p class="text-center">This website uses Web APIs!</p>
        @*</div>*@
    </div>

    <div class="fb-like-box" data-href="https://www.facebook.com/pages/Prey-software/105549146145434" data-colorscheme="light" data-show-faces="false" data-header="true" data-stream="false" data-show-border="true"></div>
</body>